[Desktop Entry]
Name=OneDrive
GenericName=OneDrive Client
Comment=OneDrive Client
Keywords=downloading;uploading;share;sharing;
Exec=firefox "https://onedrive.live.com/login/"
Icon=firefox
Terminal=false
TryExec=transmission-gtk
Type=Application
StartupNotify=true
Actions=Pause;Minimize;
GenericName[es_ES]=OneDrive Client
Comment[es_ES]=OneDrive Client
Name[es_ES]=OneDrive

